body {
  background: #FFFBE5;
}

* {
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
}

.header {
  width: 100%;
  border-bottom: 1px solid #dedede;
  padding: 20px 40px;
  z-index: 1000;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.5);
}

.header.fixed {
  position: fixed;
}

.header.phantom {
  visibility: hidden;
}

.body {
  padding-top: 40px;
}

.logo {
  font-family: 'Old Standard TT', serif;
  font-size: 28px;
}

.links {
  float: right;
  font-size: 20px;
  padding-top: 5px;
}

.link {
  padding: 0 5px;
}

a {
  color: black !important;
  text-decoration: none !important;
}

h1 {
  font-size: 48px;
}

#hello {
  margin-bottom: 10px;
}

#hello *, .name {
  font-family: 'Old Standard TT', serif !important;
}

.text-header {
  font-family: 'Old Standard TT', serif !important;
  display: inline;
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

#portrait {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.2s ease all;
  filter: grayscale(100%);
  cursor: pointer;
}

#portrait:hover {
  filter: grayscale(0%);
}

#headline {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
}

#headline .text {
  font-size: 36px;
}

.icons {
  margin-top: 10px;
}

.icons .fa {
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.icons .fa-facebook {
  background: #1877f2;
  border: 2px solid #1877f2;
  color: white;
  padding: 8px 11px;
}

.icons .fa-facebook:hover {
  color: #1877f2;
  background: white;
}

.icons .fa-linkedin {
  background: #007bb5;
  border: 2px solid #007bb5;
  color: white;
  padding: 7px 10px;
  position: relative;
}

.icons .fa-linkedin:hover {
  color: #007bb5;
  background: white;
}

.icons .fa-github {
  background: #242A2E;
  border: 2px solid #242A2E;
  color: white;
  padding: 7px 9px;
  position: relative;
}

.icons .fa-github:hover {
  color: #242A2E;
  background: white;
}

.icons .fa-file-text {
  background: #FD7E13;
  border: 2px solid #FD7E13;
  color: white;
  font-size: 16px;
  padding: 9px 12px;
  position: relative;
  bottom: 2px;
}

.icons .fa-file-text:hover {
  color: #FD7E13;
  background: white;
}

#blurb {
  padding: 20px 30px;
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.interests {
  display: block;
  font-size: 18px !important;
}

.interests.top {
  padding-top: 15px;
}

.academics {
  background: #efefef;
  min-height: 100px;
  padding: 40px 0;
}

.education-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 2px solid black;
}

.education-card h4 {
  font-family: "Old Standard TT", serif !important;
}

.coe {
  background: linear-gradient(90deg, #003262, #3B7EA1);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  color: white;
  border: 2px solid white;
}

.haas {
  background: linear-gradient(90deg, #FDB515, #C4820E);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  color: white;
  border: 2px solid white;
}

.school-logo {
  border-radius: 10px;
  width: 64px;
  height: 64px;
  margin-right: 15px;
  border: 2px solid white;
}

.school-name {
  font-size: 28px;
}

.school-degree {
  font-family: 'Old Standard TT', serif;
}

.class-name {
  padding-right: 15px;
  font-weight: bold;
}

.social-btn {
  border-radius: 50%;
}

.large-intro {
  background: black;
  color: white;
  width: 100%;
  padding: 100px 0;
  text-align: center;
}

.large-header {
  font-size: 72px;
}

.large-intro-text {
  max-width: 800px;
  display: inline-block;
  font-size: 24px;
}

.lang-card {
  border-radius: 80px;
  background: white;
  padding: 15px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.lang-card img {
  width: 64px;
  height: 64px;
  margin-right: 5px;
  margin-left: 5px;
}

.lang-card {
  font-weight: bold;
  font-size: 28px;
}

.lang-card span {
  position: relative;
  top: 5px;
}
