<div class="container" id="content">
  <div class="title">
    <div class="dot"></div> <div class="bar left"></div> <span>About Me</span> <div class="bar right"></div> <div class="dot"></div>
  </div>
  <div class="card meCard">
    <div class="cardContentSection">
      <table>
        <tr>
          <td class="cardLeftCell">
            <img id="me" src="images/me.jpg" alt="UC Berkeley College of Engineering">
          </td>
          <td class="cardRightCell">
            <h1 id="hello"></h1>
            <p>My name is <b>Arvind Rajaraman</b>, and I'm a student at the <b>University of California, Berkeley</b> pursuing a dual Bachelor's degree in <b>EECS</b> (Electrical Engineering & Computer Science) and <b>Business</b> through the <b>M.E.T.</b> (Management, Entrepreneurship, & Technology) <b>Program</b>. <b>I'm on a mission to change the world through the fusion of technology and business</b>.</p>
            <p><b>A little bit about me</b>: I was born in Chennai, India, but I've been living in New Jersey since 2007. Some of my interests & hobbies include: singing (Indian classical/film music), cooking, reading, and investing.</p>
            <p>My chief technical interests are in <b>machine learning</b> and <b>blockchain</b>. I like working on all kinds of technical projects, from front-end Angular apps to efficient algorithms in the back-end. My chief business interests are in <b>entrepreneurship</b> and <b>venture capital</b>, spaces which I aspire to enter in the future.</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="title">
    <div class="dot"></div> <div class="bar left"></div> <span>Education</span> <div class="bar right"></div> <div class="dot"></div>
  </div>

  <div class="card">
    <div class="cardHeaderSection">
      <table>
        <tr>
          <td class="cardLeftCell">
            <img class="cardLogo" src="images/berkeley.png" alt="UC Berkeley">
          </td>
          <td class="cardRightCell">
                            <span class="cardTitle">
                                <b>University of California, Berkeley</b>
                                <br>
                                <span class="cardSubTitle">Management, Entrepreneurship, & Technology (M.E.T.) Program</span>
                            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="cardContentSection">
      <span class="inlineHeader">M.E.T. Program</span>
      <ul>
        <li>Prestigious dual-degree program in engineering and business that selects <2% of applicants.</li>
        <li><b>Press</b>: <a href="https://www.bloomberg.com/news/articles/2019-03-08/the-fast-track-to-being-a-ceo-engineer" target="_blank">Bloomberg: The Fast Track to Being a CEO-Engineer</a>, <a href="https://www.businessinsider.com/uc-berkeley-met-for-future-tech-leaders-2017-4" target="_blank">Business Insider: An elite university is offering a fast-track program for tech leaders that's more competitive than Stanford</a></li>
      </ul>
      <span class="inlineHeader">Activities</span>: <a href="https://ml.berkeley.edu/" target="_blank">Machine Learning at Berkeley</a>, <a href="https://human.capital/" target="_blank">Human Capital</a>, Product Space, M.E.T. Strategy Group
      <br><br>
      <span class="inlineHeader">Awards</span>: Qualifier for <a href="https://www.vcic.org/" target="_blank">Venture Capital Investment Competition</a>, 3rd Place at Jane Street Estimathon, 1st Place at Jump Start Hackathon
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="one-half column">
      <div id="cardEECS" class="card">
        <div class="cardHeaderSection">
          <table>
            <tr>
              <td class="cardLeftCell">
                <img class="cardLogo" src="images/coe.jpeg" alt="UC Berkeley College of Engineering">
              </td>
              <td class="cardRightCell">
                                <span class="cardTitle">
                                    <b>UC Berkeley College of Engineering</b>
                                    <br>
                                    <span class="cardSubTitle">BS, Electrical Engineering and Computer Science</span>
                                </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="cardContentSection">
          <span class="inlineHeader">Coursework</span>
          <table>
            <tr>
              <td colspan="2"><span class="inlineSubHeader">Core</span></td>
            </tr>
            <tr>
              <th>CS 61A</th>
              <td>Computer Programming</td>
            </tr>
            <tr>
              <th>CS 61B</th>
              <td>Data Structures</td>
            </tr>
            <tr>
              <th>CS 61C</th>
              <td>Computer Architecture</td>
            </tr>
            <tr>
              <th>EECS 16A</th>
              <td>Designing Information Systems and Devices I</td>
            </tr>
            <tr>
              <th>EECS 16B</th>
              <td>Designing Information Systems and Devices II</td>
            </tr>
            <tr>
              <td colspan="2"><span class="inlineSubHeader">Artificial Intelligence</span></td>
            </tr>
            <tr>
              <th>CS 188</th>
              <td>Artificial Intelligence</td>
            </tr>
            <tr>
              <th>CS 189</th>
              <td>Machine Learning</td>
            </tr>
            <tr>
              <td colspan="2"><span class="inlineSubHeader">Math, Statistics, and Theory</span></td>
            </tr>
            <tr>
              <th>CS 170</th>
              <td>Efficient Algorithms and Intractable Problems</td>
            </tr>
            <tr>
              <th>EECS 126</th>
              <td>Probability Theory and Random Processes</td>
            </tr>
            <tr>
              <th>EECS 127</th>
              <td>Optimization Modeling</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="one-half column">
      <div id="cardBusiness" class="card">
        <div class="cardHeaderSection">
          <table>
            <tr>
              <td class="cardLeftCell">
                <img class="cardLogo" src="images/haas.png" alt="UC Berkeley Haas School of Business">
              </td>
              <td class="cardRightCell">
                                <span class="cardTitle">
                                    <b>UC Berkeley Haas School of Business</b>
                                    <br>
                                    <span class="cardSubTitle">BS, Business Administration</span>
                                </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="cardContentSection">
          <span class="inlineHeader">Coursework</span>
          <table>
            <tr>
              <td colspan="2"><span class="inlineSubHeader">Core</span></td>
            </tr>
            <tr>
              <th>UGBA 10</th>
              <td>Principles of Business</td>
            </tr>
            <tr>
              <th>UGBA 101A</th>
              <td>Microeconomic Analysis for Business Decisions</td>
            </tr>
            <tr>
              <th>UGBA 103</th>
              <td>Finance</td>
            </tr>
            <tr>
              <td colspan="2"><span class="inlineSubHeader">Special Topics</span></td>
            </tr>
            <tr>
              <th>UGBA 12</th>
              <td>Becoming a Changemaker</td>
            </tr>
            <tr>
              <th>UGBA 196</th>
              <td>Entrepreneurial Leadership</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="title">
    <div class="dot"></div> <div class="bar left"></div> <span>Industry</span> <div class="bar right"></div> <div class="dot"></div>
  </div>

  <div class="card">
    <div class="cardHeaderSection">
      <table>
        <tr>
          <td class="cardLeftCell">
            <img class="cardLogo" src="images/nvidia.jpeg" alt="NVIDIA">
          </td>
          <td class="cardRightCell">
                            <span class="cardTitle">
                                <b>NVIDIA</b>
                                <br>
                                <span class="cardSubTitle"><b>2021</b>, Software Engineer Intern</span>
                            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="cardContentSection">
      <p>Public computer hardware company that invented the GPU (graphics processing unit) in 1993. Built software for <b>autonomous vehicles</b>.</p>
      <ul>
        <li><b>Frame Synchronization Pipeline</b> - Self-driving cars have multiple cameras on them, but they may start recording at different times, drop frames, experience flashes (whose frames need to be discarded), and more. I built a synchronization pipeline that cleans the video footage to create higher data fidelity for downstream tasks. <b>Uses Python, OpenCV, ffmpeg, AWS.</b></li>
        <li><b>TensorRT Model Testing Pipeline</b> - Large neural networks (e.g. gaze detection, passenger age detection, body pose estimation) may occupy too much memory or have too high latency. I built a pipeline that compresses a model, deploys it onto multiple edge devices, and gathers latency/memory usage data. <b>Uses C++, TensorRT, Bash.</b></li>
      </ul>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="one-half column">
      <div class="card">
        <div class="cardHeaderSection">
          <table>
            <tr>
              <td class="cardLeftCell">
                <img class="cardLogo" src="images/segmed.jpeg" alt="Segmed">
              </td>
              <td class="cardRightCell">
                                    <span class="cardTitle">
                                        <b>Segmed</b>
                                        <br>
                                        <span class="cardSubTitle"><b>2021</b>, Software Engineer Intern</span>
                                    </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="cardContentSection">
          <p><b>Medical tech startup</b> approaching <b>Series A</b> that aims to build a data platform that serves anonymized medical records from hospitals.</p>
          <ul>
            <li>Integrated an authentication/authorization pipeline using <b>Okta</b> to scale user boarding for large pharmaceutical clients.</li>
            <li>Developed a <b>Golang</b>-based productivity tool for that reports on the progress of software engineer teams by monitoring their GitLab merge requests and resolving of epics on Jira.</li>
            <li>Designed a tool that assembles medical datasets by a majority vote.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="one-half column">
      <div class="card">
        <div class="cardHeaderSection">
          <table>
            <tr>
              <td class="cardLeftCell">
                <img class="cardLogo" src="images/hirebee.jpeg" alt="Hirebee.ai">
              </td>
              <td class="cardRightCell">
                                    <span class="cardTitle">
                                        <b>Hirebee.ai</b>
                                        <br>
                                        <span class="cardSubTitle"><b>2021</b>, Machine Learning Engineer Intern</span>
                                    </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="cardContentSection">
          <p><b>HR tech startup</b> (pre-seed) that is building an AI-powered platform to hire employees for SMBs (small and medium-sized businesses).</p>
          <ul>
            <li>Developed an AI-powered resume processing pipeline that creates optimal job-candidate matches using <b>named entity recognition</b>.</li>
            <li>Created a parallelized machine learning pipeline that reduced cloud computing costs by 70% and increased employer satisfaction by 40%.</li>
            <li>Managed research and prototyping among a group of 10 interns using Jira and agile software development practices.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="one-half column">
      <div class="card">
        <div class="cardHeaderSection">
          <table>
            <tr>
              <td class="cardLeftCell">
                <img class="cardLogo" src="images/dispatchgoods.jpeg" alt="Dispatch Goods">
              </td>
              <td class="cardRightCell">
                                    <span class="cardTitle">
                                        <b>Dispatch Goods</b>
                                        <br>
                                        <span class="cardSubTitle"><b>2020</b>, Software Engineer Intern</span>
                                    </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="cardContentSection">
          <p><b>Logistics seed startup</b> ($4M in funding) that sends reusable containers to restaurants and picks them up from customers.</p>
          <ul>
            <li>Spearheaded an automated logistics system that parses, routes, and stores incoming orders from restaurants. <b>Uses AWS Lambda & Python.</b></li>
            <li>Decreased order processing time by 50% for clients.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="one-half column">
      <div class="card">
        <div class="cardHeaderSection">
          <table>
            <tr>
              <td class="cardLeftCell">
                <img class="cardLogo" src="images/geer.jpeg" alt="Geer">
              </td>
              <td class="cardRightCell">
                                    <span class="cardTitle">
                                        <b>Geer</b>
                                        <br>
                                        <span class="cardSubTitle"><b>2020</b>, Business Development Intern</span>
                                    </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="cardContentSection">
          <p><b>Blockchain startup</b> (pre-seed) that helps brands build and maintain their identity in blockchain apps and games.</p>
          <ul>
            <li>Furthered company's business intelligence through blockchain reports about asset tokenization techniques and <b>non-fungible tokens (NFTs)</b>.</li>
            <li>Increased user engagement on Geer's website by 350%.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="title">
    <div class="dot"></div> <div class="bar left"></div> <span>Research</span> <div class="bar right"></div> <div class="dot"></div>
  </div>

  <div class="card">
    <div class="cardHeaderSection">
      <table>
        <tr>
          <td class="cardLeftCell">
            <img class="cardLogo" src="images/bair.jpeg" alt="Berkeley Artificial Intelligence Research">
          </td>
          <td class="cardRightCell">
                            <span class="cardTitle">
                                <b>Berkeley Artificial Intelligence Research</b>
                                <br>
                                <span class="cardSubTitle"><b>2021—</b>, Researcher, Deep Learning</span>
                            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="cardContentSection">
      <p>
        <b>Advisors</b>: <a href="https://scholar.google.com/citations?user=ID9QePIAAAAJ&hl=en" target="_blank">Kurt Keutzer</a>, <a href="https://amirgholami.org/" target="_blank">Amir Gholami</a>
        <br><br>
        <b>Problem Statement</b>: Text generation models on the market today (LSTMs, Transformers, GPT-2, etc.) either have low latency or high accuracy, but usually not both. Because of the wide range of edge devices on the market today, some models would benefit from an architecture "in the middle", with both latency and accuracy constraints. How do we design models to fit this spectrum of constraints?
      </p>
      <ul>
        <li>Designing a hybrid architecture using LSTM encoding and attention-based decoding, significantly decreasing latency.</li>
        <li>Implementing new model compression techniques: neural architecture search (NAS), knowledge distillation, pruning, and quantization.</li>
        <li>Determining the Pareto frontier of accuracy versus latency on different architecture designs.</li>
      </ul>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="one-half column">
      <div class="card">
        <div class="cardHeaderSection">
          <table>
            <tr>
              <td class="cardLeftCell">
                <img class="cardLogo" src="images/berkeleylab.png" alt="Lawrence Berkeley National Laboratory">
              </td>
              <td class="cardRightCell">
                                    <span class="cardTitle">
                                        <b>Lawrence Berkeley Nat'l Laboratory</b>
                                        <br>
                                        <span class="cardSubTitle"><b>2020</b>, Researcher, AI Ethics</span>
                                    </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="cardContentSection">
          <p><b>Advisor</b>: <a href="https://www.nobelprize.org/prizes/physics/2011/perlmutter/facts/" target="_blank">Nobel Laureate Saul Perlmutter</a></p>
          <ul>
            <li>Worked on developing press-trustworthiness algorithms (software that determines the credibility of a news article), using machine learning and statistical methods.</li>
            <li>Designed test suites of scoring and reputation algorithms in NumPy, PyTest, Pandas, AWS Lambda, and CloudWatch.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="one-half column">
      <div class="card">
        <div class="cardHeaderSection">
          <table>
            <tr>
              <td class="cardLeftCell">
                <img class="cardLogo" src="images/ttu.gif" alt="Anson L. Clark Scholars Program">
              </td>
              <td class="cardRightCell">
                                    <span class="cardTitle">
                                        <b>Anson L. Clark Scholars Program</b>
                                        <br>
                                        <span class="cardSubTitle"><b>2019</b>, Researcher, Topology & Graph Theory</span>
                                    </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="cardContentSection">
          <p>Highly competitive summer <a href="https://www.depts.ttu.edu/honors/academicsandenrichment/affiliatedandhighschool/clarks/" target="_blank">research program</a> with a 0.7% acceptance rate.</p>
          <ul>
            <li>
              <b>Paper:</b> <a href="https://drive.google.com/file/d/1z2pLhtxeV2gOHc9xEH2i3XF_Bu0XYI8Y/view" target="blank">On Embeddings of One-Dimensional Continua</a>
            </li>
            <li>
              <b>Explored Topics:</b> arc-like (chainable) continua, embeddability of classes of graphs, producing non-equivalent tree embeddings, dendrites, dendroids, dyadic solenoids, & universal curves.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="title">
    <div class="dot"></div> <div class="bar left"></div> <span>Teaching</span> <div class="bar right"></div> <div class="dot"></div>
  </div>

  <div class="row">
    <div class="one-half column">
      <div class="card">
        <div class="cardHeaderSection">
                        <span class="cardTitle">
                            <b>CS 188</b>: Introduction to Artificial Intelligence
                            <br>
                            <span class="cardSubTitle"><b>2022</b>, Student Instructor</span>
                        </span>
        </div>
        <div class="cardContentSection">
          <b>Professors</b>: <a href="https://scholar.google.com/citations?user=2oy3OXYAAAAJ&hl=en" target="_blank">Stuart Russell</a>, <a href="https://scholar.google.com/citations?user=84WzBlYAAAAJ&hl=en" target="_blank">Dawn Song</a>
          <br><br>
          Selected as a student instructor for Berkeley's <a href="https://inst.eecs.berkeley.edu/~cs188" target="_blank">AI course</a>, the first AI course created in the world. Will be: developing course materials (including exams), hosting discussion sections, and proctoring exams.
        </div>
      </div>
    </div>
    <div class="one-half column">
      <div class="card">
        <div class="cardHeaderSection">
                        <span class="cardTitle">
                            <b>CS 198-100</b>: Recommendation Systems in ML
                            <br>
                            <span class="cardSubTitle"><b>2021</b>, Founder & Head Student Instructor</span>
                        </span>
        </div>
        <div class="cardContentSection">
          <b>Faculty Sponsor</b>: <a href="https://scholar.google.com/citations?user=UgHB5oAAAAAJ&hl=en" target="_blank">Anca Dragan</a>
          <br><br>
          Founded and taught a <a href="https://ml.berkeley.edu/decal/rec-sys" target="_blank">course</a> on recommendation systems in machine learning, intersecting machine learning theory with application. Enrolled 50 students from 90 applications.
        </div>
      </div>
    </div>
  </div>

  <div class="title">
    <div class="dot"></div> <div class="bar left"></div> <span>Interests</span> <div class="bar right"></div> <div class="dot"></div>
  </div>

  <div class="row">
    <div class="three columns">
      <div class="card">
        <div class="cardContentSection">
          <b>Singing</b>: I sang Indian classical music for 9 years. Now, I like singing both Indian classical music and film music!
        </div>
      </div>
    </div>
    <div class="three columns">
      <div class="card">
        <div class="cardContentSection">
          <b>Investing</b>: I'm interested in stock (equity) and ETF investing. Would love to hear any of your stock recommendations!
        </div>
      </div>
    </div>
    <div class="three columns">
      <div class="card">
        <div class="cardContentSection">
          <b>Cooking</b>: I like cooking Indian, Thai, and Italian food. Some of my favorite dishes to make (and eat) are Sambar & Pad Kee Mao!
        </div>
      </div>
    </div>
    <div class="three columns">
      <div class="card">
        <div class="cardContentSection">
          <b>Reading</b>: I like reading biographies, books about business, and Indian culture. Now, I'm reading "Secrets of Sand Hill Road".
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
