@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsWUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhHMWUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduh8MKUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsoBSzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsIBSzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvoBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBv4BCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvIBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvYBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuoBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuIBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtgBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBt4BCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtIBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsoBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsIBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBv4ByzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuoByzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuYByzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBt4ByzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsoBSzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsIBSzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvoBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBv4BCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvIBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvYBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuoBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuIBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtgBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBt4BCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtIBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsoBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsIBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBv4ByzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuoByzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuYByzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBt4ByzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsoBSzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsIBSzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvoBCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBv4BCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvIBCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvYBCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuoBCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuIBCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtgBCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBt4BCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtIBCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsoBCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsIBCzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBv4ByzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuoByzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuYByzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBt4ByzBDXXD9JVF438wpojADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsoBSzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsIBSzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvoBCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBv4BCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvIBCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBvYBCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuoBCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuIBCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtgBCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBt4BCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtIBCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsoBCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBsIBCzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBv4ByzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuoByzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBuYByzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBt4ByzBDXXD9JVF438wn4jADA.ttf) format('truetype');
}
